.jsplayer{
    visibility: hidden;
}

.jsplayer-video{
    position: absolute;
}

.jsplayer-screen{
    background-color: #000;
    width: 640px;
    height: 360px;
    overflow: hidden;
    white-space : nowrap;
    cursor: default;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
}

.jsplayer-screen:focus{
    outline: none;
}

.jsplayer-screen-osd{
    font-family: Arial, sans-serif;
    position: absolute;
    right: 2%;
    top: 5%;
    background-color: #000;
    color:#0f0;
    z-index: 3;
}

.jsplayer-screen:-ms-fullscreen{
    position: absolute;
    width: 100% !important;
    height: 100% !important;
	left: 0;
 	top: 0;
}

.jsplayer-screen:-webkit-full-screen{
    position: absolute;
    width: 100% !important;
    height: 100% !important;
	left: 0;
 	top: 0;
}

.jsplayer-screen:-moz-full-screen{
    position: absolute;
    width: 100% !important;
    height: 100% !important;
	left: 0;
 	top: 0;
}

.jsplayer-screen:fullscreen{
    position: absolute;
    width: 100% !important;
    height: 100% !important;
	left: 0;
 	top: 0;
}

.jsplayer-controller{
    display: block;
    width: 640px;
    height: 55px;
    line-height: 1;
    color: white;
    text-decoration: none;
    background: #47494f;
    border-color: #2f3034 #2f3034 #232427;
    background-image: linear-gradient(to bottom, #555, #333 66%, #000);
    cursor: default;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    position:relative;
    visibility:visible;
}

.jsplayer-controller-wrap{
    padding: 0 6px;
    position:absolute;
    top: 5px;
}

.jsplayer-controller-current-time,
.jsplayer-controller-total-time{
    font-family: Arial, sans-serif;
    font-size: 12px;
    vertical-align: 6px;
    padding: 0;
    display: inline-block;
    width: 35px;
}

.jsplayer-controller-current-time{
    text-align: right;
}

.jsplayer-controller-total-time{
    text-align: left;
}

.jsplayer-controller-play-button,
.jsplayer-controller-volume-button,
.jsplayer-controller-comment-button,
.jsplayer-controller-screen-button{
    margin: 0 3px;
    padding: 0;
    border: none;
	cursor: pointer;
}

.jsplayer-controller-time-seek,
.jsplayer-controller-volume-seek{
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    height: 20px;
}

.jsplayer-controller-time-seek{
    width: 333px;
}

.jsplayer-controller-volume-seek{
    width: 100px;
}

.jsplayer-controller-time-seekbar,
.jsplayer-controller-volume-seekbar{
    position: relative;
    height: 5px;
    margin: 0 0 8px 0;
    padding: 0;
    background-color: #fff;
    border-radius: 2px;
    width: 100%;
    top: 7px;
}

.jsplayer-controller-time-seekbar{
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAICAIAAABcT7kVAAAAFUlEQVQI12N0WX+DgYGBiYGBgSQKAGI2AdswIf1pAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
    background-position: 0;
    background-size : 0;
}

.jsplayer-controller-time-seeker,
.jsplayer-controller-volume-seeker{
    position: absolute;
	cursor: pointer;
	width: 10px;
	height: 18px;
	background-color: #ccc;
    top: -7px;
    left: 0px;
    background-image: linear-gradient(to bottom, #ccc, #aaa);
    border: solid 1px #999;
    border-radius: 3px;
    display: inline;
}

.jsplayer-form{
    width: 100%;
    position: absolute;
    top:29px;
}

.jsplayer-form-input{
    width: 80%;
    height: 26px;
    box-shadow: 3px 3px 3px rgba(200,200,200,0.2) inset;
    border: 1px solid #888888;
    border-radius: 0;
    padding:4px 6px 3px 12px;
    vertical-align:middle;
    ime-mode: active;
    box-sizing: border-box;
}

.jsplayer-form-button{
    width: 20%;
    height: 26px;
    text-decoration: none;
    text-align: center;
    padding: 3px 15px 3px 15px;
    font-size: 14px;
    color: #fff;
    background-color: #5ba825;
    background: linear-gradient(to bottom, #84be5c 0%, #84be5c 50%, #5ba825 50%, #5ba825 100%);
    border: 1px solid #377d00;
    border-radius: 0;
    line-height: 1;
    vertical-align: middle;
    font-family: 'MS PGothic', Meiryo, sans-serif;
	cursor: pointer;
    box-sizing: border-box;
}

.jsplayer-commentnaka{
    font-family: 'MS PGothic', Meiryo, sans-serif;
    position: absolute;
    left: 100%;
    line-height: 1;
    z-index: 2;
    color: #fff;
    text-shadow: -1px -1px #333, 1px -1px #333,	-1px 1px #333, 1px 1px #333;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-duration: 17s;
    opacity: 0.9;
}

.jsplayer-commentue{
    font-family: 'MS PGothic', Meiryo, sans-serif;
    position: absolute;
    left: 100%;
    line-height: 1;
    z-index: 2;
    color: #fff;
    text-shadow: -1px -1px #333, 1px -1px #333,	-1px 1px #333, 1px 1px #333;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-duration: 17s;
    opacity: 0.9;
}

.jsplayer-commentshita{
    font-family: 'MS PGothic', Meiryo, sans-serif;
    position: absolute;
    left: 100%;
    line-height: 1;
    z-index: 2;
    color: #fff;
    text-shadow: -1px -1px #333, 1px -1px #333,	-1px 1px #333, 1px 1px #333;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-duration: 17s;
    opacity: 0.9;
}

.jsplayer-commentnaka:hover,
.jsplayer-commentue:hover,
.jsplayer-commentshita:hover {
	border: 1px solid #FF0;
}

.jsplayer-commentnaka:active,
.jsplayer-commentue:active,
.jsplayer-commentshita:active {
	border: 1px solid #F48;
}

body{
    background-color: black;
	color: white;
}

input{
    background-color: white;
	color: black;
}

@keyframes jsplayernormallane{
	from{transform:translateX(0)}
	to{transform:translateX(var(--screen-width, 3200px))}
}

@keyframes jsplayerfulllane{
	from{transform:translateX(0)}
	to{transform:translateX(var(--fullscreen-width, 3200px))}
}